In [ ]:
!pip install prettytable==3.9.0 --quiet
import os
os.kill(os.getpid(), 9)  # Restart the runtime after installing

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Director.csv to Director.csv
Saving Film_Director.csv to Film_Director.csv
Saving Film_Genre.csv to Film_Genre.csv
Saving Films.csv to Films.csv
Saving Genre.csv to Genre.csv
Saving Users.csv to Users.csv
Saving Viewer_Stats.csv to Viewer_Stats.csv

In [ ]:
import pandas as pd

films = pd.read_csv("films.csv")
directors = pd.read_csv("director.csv")
film_directors = pd.read_csv("film_director.csv")
genres = pd.read_csv("genre.csv")
film_genres = pd.read_csv("film_genre.csv")
users = pd.read_csv("users.csv")
viewer_stats = pd.read_csv("viewer_stats.csv")

In [ ]:
import sqlite3
conn = sqlite3.connect("movies.db")  # Creates a persistent DB file
cursor = conn.cursor()

In [ ]:
cursor = conn.cursor()

cursor.executescript("""
DROP TABLE IF EXISTS films;
CREATE TABLE films (
  film_id INTEGER PRIMARY KEY,
  film_title TEXT,
  release_year INTEGER,
  duration INTEGER,
  budget DECIMAL(12,2),
  revenue DECIMAL(12,2),
  ROI_percent DECIMAL(6,2),
  decade TEXT,
  language TEXT
);

DROP TABLE IF EXISTS directors;
CREATE TABLE directors (
  director_id INTEGER PRIMARY KEY,
  name TEXT
);

DROP TABLE IF EXISTS film_directors;
CREATE TABLE film_directors (
  film_id INTEGER,
  director_id INTEGER,
  PRIMARY KEY (film_id, director_id),
  FOREIGN KEY (film_id) REFERENCES films(film_id),
  FOREIGN KEY (director_id) REFERENCES directors(director_id)
);

DROP TABLE IF EXISTS genres;
CREATE TABLE genres (
  genre_id INTEGER PRIMARY KEY,
  genre_name TEXT
);

DROP TABLE IF EXISTS film_genres;
CREATE TABLE film_genres (
  film_id INTEGER,
  genre_id INTEGER,
  PRIMARY KEY (film_id, genre_id),
  FOREIGN KEY (film_id) REFERENCES films(film_id),
  FOREIGN KEY (genre_id) REFERENCES genres(genre_id)
);

DROP TABLE IF EXISTS users;
CREATE TABLE users (
  user_id INTEGER PRIMARY KEY,
  age INTEGER,
  age_group TEXT,
  state TEXT,
  subscription_type TEXT
);

DROP TABLE IF EXISTS viewer_stats;
CREATE TABLE viewer_stats (
  user_id INTEGER,
  film_id INTEGER,
  watch_date DATE,
  rating DECIMAL(5,2),
  watch_duration_minutes INTEGER,
  FOREIGN KEY (user_id) REFERENCES users(user_id),
  FOREIGN KEY (film_id) REFERENCES films(film_id)
);
""")
conn.commit()

In [ ]:
print(users.columns)
films.rename(columns={"ROI": "ROI_percent"}, inplace=True)
genres.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6"], inplace=True)

viewer_stats['watch_date'] = pd.to_datetime(viewer_stats['watch_date'], errors='coerce')

Index(['user_id', 'age', 'age_group', 'state', 'subscription_type'], dtype='object')

In [ ]:
films.to_sql("films", conn, index=False, if_exists="append")
directors.to_sql("directors", conn, index=False, if_exists="append")
film_directors.to_sql("film_directors", conn, index=False, if_exists="append")
genres.to_sql("genres", conn, index=False, if_exists="append")
film_genres.to_sql("film_genres", conn, index=False, if_exists="append")
users.to_sql("users", conn, index=False, if_exists="append")
viewer_stats.to_sql("viewer_stats", conn, index=False, if_exists="append")

5000

In [ ]:
%load_ext sql
%sql sqlite:///movies.db

In [ ]:
%%sql
SELECT film_title, ROI_percent, decade FROM films LIMIT 5;

 * sqlite:///movies.db
Done.

[('Spirited Away', '1,347', '2000s'),
 ('My Neighbor Totoro', '1,008', '1980s'),
 ('Princess Mononoke', 619, '1990s'),
 ("Howl's Moving Castle", 884, '2000s'),
 ("Kiki's Delivery Service", -35, '1980s')]

In [ ]:
#1: "Which films perform best by viewer rating and watch completion?"

%%sql
SELECT
    f.film_title,
    COUNT(vs.user_id) AS total_views,
    ROUND(AVG(vs.rating), 2) AS avg_rating,
    ROUND(AVG(vs.watch_duration_minutes * 1.0 / f.duration) * 100, 1) AS avg_completion_percent
FROM
    viewer_stats vs
JOIN
    films f ON vs.film_id = f.film_id
GROUP BY
    f.film_title
ORDER BY
    total_views DESC;

 * sqlite:///movies.db
Done.

[('Tales from Earthsea', 232, 46.0, 62.7),
 ('Ponyo', 220, 83.0, 85.7),
 ('My Neighbors the Yamadas', 213, 75.0, 73.7),
 ('When Marnie Was There', 211, 88.0, 81.6),
 ('The Secret World of Arrietty', 210, 85.0, 78.2),
 ('Earwig and the Witch', 210, 68.0, 65.7),
 ('Spirited Away', 209, 96.0, 66.7),
 ("Howl's Moving Castle", 208, 93.0, 56.0),
 ('The Boy and the Heron', 206, 88.0, 61.9),
 ('The Cat Returns', 205, 82.0, 62.3),
 ('Pom Poko', 205, 77.0, 81.0),
 ('Grave of the Fireflies', 200, 95.0, 61.1),
 ('The Tale of the Princess Kaguya', 198, 90.0, 68.5),
 ('The Red Turtle', 197, 87.0, 80.5),
 ('Nausicaä of the Valley of the Wind', 197, 91.0, 84.2),
 ('The Wind Rises', 194, 85.0, 69.2),
 ('My Neighbor Totoro', 194, 94.0, 61.4),
 ('Ocean Waves', 192, 64.0, 57.3),
 ("Kiki's Delivery Service", 191, 89.0, 60.7),
 ('From Up on Poppy Hill', 189, 80.0, 55.9),
 ('Porco Rosso', 188, 87.0, 58.4),
 ('Whisper of the Heart', 187, 90.0, 86.1),
 ('Only Yesterday', 185, 82.0, 89.6),
 ('Castle in the Sky', 184, 91.0, 72.7),
 ('Princess Mononoke', 175, 94.0, 76.4)]

In [ ]:
#2: "Which genres are most popular by age group?"

%%sql
SELECT
    g.genre_name,
    CASE
        WHEN u.age < 18 THEN 'Teen'
        WHEN u.age BETWEEN 18 AND 34 THEN 'Young Adult'
        WHEN u.age BETWEEN 35 AND 54 THEN 'Adult'
        ELSE 'Senior'
    END AS age_group,
    COUNT(*) AS total_views,
    ROUND(AVG(vs.rating), 2) AS avg_rating
FROM
    viewer_stats vs
JOIN users u ON vs.user_id = u.user_id
JOIN film_genres fg ON vs.film_id = fg.film_id
JOIN genres g ON fg.genre_id = g.genre_id
GROUP BY genre_name, age_group
ORDER BY total_views DESC;

 * sqlite:///movies.db
Done.

[('Drama', 'Senior', 1050, 82.96),
 ('Fantasy', 'Adult', 769, 81.02),
 ('Adventure', 'Senior', 702, 84.14),
 ('Drama', 'Young Adult', 498, 84.75),
 ('Family', 'Adult', 454, 86.43),
 ('Fantasy', 'Young Adult', 363, 80.4),
 ('Adventure', 'Young Adult', 334, 83.1),
 ('Family', 'Young Adult', 238, 87.43),
 ('Drama', 'Teen', 205, 93.25),
 ('Adventure', 'Teen', 140, 79.84),
 ('Fantasy', 'Teen', 138, 79.73),
 ('Family', 'Teen', 109, 85.77)]

In [ ]:
#3: "Which directors have the highest average viewer rating?"

%%sql
SELECT
    d.name AS director_name,
    ROUND(AVG(vs.rating), 2) AS avg_viewer_rating,
    COUNT(DISTINCT vs.film_id) AS num_films_rated,
    COUNT(vs.user_id) AS total_ratings
FROM
    viewer_stats vs
JOIN film_directors fd ON vs.film_id = fd.film_id
JOIN directors d ON fd.director_id = d.director_id
GROUP BY
    d.name
HAVING
    COUNT(vs.user_id) > 30 -- filters out directors with low sample size
ORDER BY
    avg_viewer_rating DESC;

 * sqlite:///movies.db
Done.

[('Hayao Miyazaki', 90.03, 11, 2166),
 ('Hiromasa Yonebayashi', 86.5, 2, 421),
 ('Isao Takahata', 84.21, 6, 1198),
 ('Hiroyuki Morita', 82.0, 1, 205),
 ('Yoshifumi Kondo', 76.83, 2, 379),
 ('Goro Miyazaki', 63.51, 3, 631)]

In [ ]:
#4: "How does viewer behavior differ by subscription type?"

%%sql
SELECT
    u.subscription_type,
    COUNT(vs.user_id) AS total_views,
    ROUND(AVG(vs.rating), 2) AS avg_rating,
    ROUND(AVG(vs.watch_duration_minutes * 1.0 / f.duration) * 100, 1) AS avg_completion_percent
FROM
    viewer_stats vs
JOIN users u ON vs.user_id = u.user_id
JOIN films f ON vs.film_id = f.film_id
GROUP BY
    u.subscription_type
ORDER BY
    total_views DESC;

 * sqlite:///movies.db
Done.

[('Family', 1438, 84.13, 69.4),
 ('Premium', 1351, 82.47, 71.2),
 ('Free', 1142, 84.32, 70.0),
 ('Student', 1069, 83.83, 70.6)]

In [ ]:
#5: "What is the ROI (Return on Investment) per film?"

%%sql
SELECT
    film_title,
    budget,
    revenue,
    ROI_percent
FROM
    films
ORDER BY
    roi_percent DESC;

 * sqlite:///movies.db
Done.

[('Spirited Away', '19,000,000.00', '274,925,095.00', '1,347'),
 ('My Neighbor Totoro', '3,700,000.00', '41,000,000.00', '1,008'),
 ("Howl's Moving Castle", '24,000,000.00', '236,049,757.00', 884),
 ('My Neighbors the Yamadas', '20,500,000.00', '167,000,000.00', 715),
 ('Princess Mononoke', '23,500,000.00', '169,000,000.00', 619),
 ('The Secret World of Arrietty', '23,000,000.00', '149,480,483.00', 550),
 ('Whisper of the Heart', '7,000,000.00', '34,900,000.00', 399),
 ('Ponyo', '34,000,000.00', '153,000,000.00', 350),
 ('The Wind Rises', '30,000,000.00', '117,932,401.00', 293),
 ('Porco Rosso', '9,200,000.00', '34,100,000.00', 271),
 ('When Marnie Was There', '10,500,000.00', '34,949,567.00', 233),
 ('Nausicaä of the Valley of the Wind', '1,000,000.00', '3,301,446.00', 230),
 ('The Boy and the Heron', '53,000,000.00', '167,000,000.00', 215),
 ('Tales from Earthsea', '22,000,000.00', '68,625,104.00', 212),
 ('From Up on Poppy Hill', '22,000,000.00', '61,037,844.00', 177),
 ('The Cat Returns', '20,000,000.00', '54,016,370.00', 170),
 ('Pom Poko', '12,000,000.00', '28,200,000.00', 135),
 ('Earwig and the Witch', '7,500,000.00', '9,700,000.00', 29),
 ('Castle in the Sky', '5,000,000.00', '5,228,752.00', 5),
 ("Kiki's Delivery Service", '6,900,000.00', '4,493,017.00', -35),
 ('The Red Turtle', '12,500,000.00', '6,600,000.00', -47),
 ('The Tale of the Princess Kaguya', '49,300,000.00', '24,366,656.00', -51),
 ('Only Yesterday', '2,500,000.00', '473,110.00', -81),
 ('Grave of the Fireflies', '3,700,000.00', '516,962.00', -86),
 ('Ocean Waves', '5,000,000.00', '100,000.00', -98)]

In [ ]:
#6: "Are there seasonal trends in viewership?"... (#EXTRACT(MONTH FROM watch_date) AS month)

%%sql
SELECT
    strftime('%m', watch_date) AS month,
    COUNT(*) AS total_views,
    ROUND(AVG(rating), 2) AS avg_rating,
    ROUND(AVG(watch_duration_minutes), 1) AS avg_watch_time
FROM
    viewer_stats
GROUP BY
    month
ORDER BY
    month;

 * sqlite:///movies.db
Done.

[('01', 423, 84.8, 77.4),
 ('02', 362, 81.81, 75.3),
 ('03', 401, 81.75, 75.5),
 ('04', 413, 82.2, 73.9),
 ('05', 446, 85.17, 75.5),
 ('06', 398, 85.21, 73.8),
 ('07', 415, 80.83, 73.8),
 ('08', 421, 82.1, 76.9),
 ('09', 417, 83.89, 74.2),
 ('10', 436, 84.65, 79.0),
 ('11', 440, 83.92, 70.1),
 ('12', 428, 87.08, 75.4)]

In [ ]:
#7: "Which U.S. states have the highest average viewer rating for Ghibli films — but only among highly active users?"

%%sql
SELECT
    u.state,
    ROUND(AVG(vs.rating), 2) AS avg_rating,
    COUNT(vs.film_id) AS total_views
FROM
    viewer_stats vs
JOIN users u ON vs.user_id = u.user_id
WHERE
    vs.user_id IN (
        SELECT user_id
        FROM viewer_stats
        GROUP BY user_id
        HAVING COUNT(film_id) >= 10
    )
GROUP BY
    u.state
ORDER BY
    avg_rating DESC
LIMIT 10;

 * sqlite:///movies.db
Done.

[('Washington', 102.45, 10),
 ('California', 100.45, 10),
 ('Colorado', 97.03, 11),
 ('Vermont', 95.66, 25),
 ('Nebraska', 95.23, 11),
 ('Wyoming', 94.32, 16),
 ('Massachusetts', 90.88, 11),
 ('Pennsylvania', 90.26, 21),
 ('Virginia', 89.69, 10),
 ('Iowa', 83.58, 21)]

In [ ]:
#8: "Who are the top 3 most active users in each U.S. state by number of films watched?"

%%sql
WITH user_activity AS (
    SELECT
        u.user_id,
        u.state,
        COUNT(vs.film_id) AS total_films_watched
    FROM
        users u
    JOIN viewer_stats vs ON u.user_id = vs.user_id
    WHERE u.state IS NOT NULL
    GROUP BY u.user_id, u.state
),
ranked_users AS (
    SELECT
        user_id,
        state,
        total_films_watched,
        ROW_NUMBER() OVER (
            PARTITION BY state
            ORDER BY total_films_watched DESC
        ) AS state_rank
    FROM user_activity
    WHERE total_films_watched >= 5
)
SELECT *
FROM ranked_users
WHERE state_rank <= 3
ORDER BY state, state_rank;

 * sqlite:///movies.db
Done.

[(300, 'Alabama', 11, 1),
 (107, 'Alabama', 9, 2),
 (474, 'Alabama', 9, 3),
 (133, 'Alaska', 9, 1),
 (481, 'Alaska', 8, 2),
 (798, 'Alaska', 8, 3),
 (151, 'Arizona', 6, 1),
 (245, 'Arizona', 6, 2),
 (936, 'Arizona', 6, 3),
 (421, 'Arkansas', 10, 1),
 (924, 'Arkansas', 9, 2),
 (160, 'Arkansas', 8, 3),
 (333, 'California', 10, 1),
 (538, 'California', 9, 2),
 (652, 'California', 7, 3),
 (171, 'Colorado', 11, 1),
 (75, 'Colorado', 9, 2),
 (191, 'Colorado', 8, 3),
 (218, 'Connecticut', 9, 1),
 (655, 'Connecticut', 9, 2),
 (577, 'Connecticut', 8, 3),
 (909, 'Delaware', 9, 1),
 (278, 'Delaware', 7, 2),
 (316, 'Delaware', 7, 3),
 (528, 'Florida', 11, 1),
 (775, 'Florida', 9, 2),
 (129, 'Florida', 8, 3),
 (564, 'Georgia', 8, 1),
 (81, 'Georgia', 7, 2),
 (173, 'Georgia', 7, 3),
 (449, 'Hawaii', 12, 1),
 (532, 'Hawaii', 10, 2),
 (53, 'Hawaii', 9, 3),
 (561, 'Idaho', 7, 1),
 (358, 'Idaho', 6, 2),
 (397, 'Idaho', 6, 3),
 (591, 'Illinois', 11, 1),
 (215, 'Illinois', 7, 2),
 (548, 'Illinois', 7, 3),
 (267, 'Indiana', 12, 1),
 (700, 'Indiana', 10, 2),
 (263, 'Indiana', 8, 3),
 (71, 'Iowa', 11, 1),
 (576, 'Iowa', 10, 2),
 (356, 'Iowa', 9, 3),
 (454, 'Kansas', 9, 1),
 (77, 'Kansas', 8, 2),
 (906, 'Kansas', 7, 3),
 (709, 'Kentucky', 9, 1),
 (104, 'Kentucky', 8, 2),
 (158, 'Kentucky', 8, 3),
 (997, 'Louisiana', 11, 1),
 (13, 'Louisiana', 9, 2),
 (251, 'Louisiana', 9, 3),
 (211, 'Maine', 9, 1),
 (579, 'Maine', 9, 2),
 (327, 'Maine', 8, 3),
 (988, 'Maryland', 11, 1),
 (695, 'Maryland', 9, 2),
 (20, 'Maryland', 8, 3),
 (383, 'Massachusetts', 11, 1),
 (106, 'Massachusetts', 9, 2),
 (511, 'Massachusetts', 8, 3),
 (48, 'Michigan', 11, 1),
 (288, 'Michigan', 10, 2),
 (888, 'Michigan', 9, 3),
 (509, 'Minnesota', 8, 1),
 (766, 'Minnesota', 8, 2),
 (380, 'Minnesota', 7, 3),
 (693, 'Mississippi', 10, 1),
 (170, 'Mississippi', 7, 2),
 (374, 'Mississippi', 7, 3),
 (402, 'Missouri', 11, 1),
 (921, 'Missouri', 10, 2),
 (254, 'Missouri', 9, 3),
 (127, 'Montana', 7, 1),
 (473, 'Montana', 7, 2),
 (555, 'Montana', 6, 3),
 (406, 'Nebraska', 11, 1),
 (273, 'Nebraska', 9, 2),
 (724, 'Nebraska', 7, 3),
 (618, 'Nevada', 8, 1),
 (234, 'Nevada', 7, 2),
 (431, 'Nevada', 7, 3),
 (37, 'New Hampshire', 7, 1),
 (88, 'New Hampshire', 7, 2),
 (219, 'New Hampshire', 7, 3),
 (54, 'New Jersey', 10, 1),
 (296, 'New Jersey', 8, 2),
 (363, 'New Jersey', 6, 3),
 (266, 'New Mexico', 7, 1),
 (583, 'New Mexico', 7, 2),
 (718, 'New Mexico', 7, 3),
 (571, 'New York', 9, 1),
 (784, 'New York', 9, 2),
 (95, 'New York', 8, 3),
 (410, 'North Carolina', 9, 1),
 (259, 'North Carolina', 6, 2),
 (404, 'North Carolina', 6, 3),
 (140, 'North Dakota', 8, 1),
 (506, 'North Dakota', 7, 2),
 (932, 'North Dakota', 7, 3),
 (671, 'Ohio', 8, 1),
 (597, 'Ohio', 7, 2),
 (685, 'Ohio', 7, 3),
 (40, 'Oklahoma', 8, 1),
 (57, 'Oklahoma', 7, 2),
 (312, 'Oklahoma', 7, 3),
 (72, 'Oregon', 9, 1),
 (898, 'Oregon', 9, 2),
 (568, 'Oregon', 8, 3),
 (847, 'Pennsylvania', 11, 1),
 (656, 'Pennsylvania', 10, 2),
 (381, 'Pennsylvania', 8, 3),
 (346, 'Rhode Island', 6, 1),
 (50, 'Rhode Island', 5, 2),
 (332, 'Rhode Island', 5, 3),
 (84, 'South Carolina', 12, 1),
 (309, 'South Carolina', 11, 2),
 (635, 'South Carolina', 10, 3),
 (222, 'South Dakota', 10, 1),
 (351, 'South Dakota', 9, 2),
 (892, 'South Dakota', 9, 3),
 (80, 'Tennessee', 9, 1),
 (128, 'Tennessee', 8, 2),
 (451, 'Tennessee', 7, 3),
 (701, 'Texas', 13, 1),
 (386, 'Texas', 11, 2),
 (644, 'Texas', 10, 3),
 (66, 'Utah', 8, 1),
 (35, 'Utah', 7, 2),
 (36, 'Utah', 7, 3),
 (4, 'Vermont', 14, 1),
 (159, 'Vermont', 11, 2),
 (194, 'Vermont', 9, 3),
 (585, 'Virginia', 10, 1),
 (692, 'Virginia', 7, 2),
 (153, 'Virginia', 6, 3),
 (290, 'Washington', 10, 1),
 (117, 'Washington', 9, 2),
 (289, 'Washington', 6, 3),
 (624, 'West Virginia', 8, 1),
 (825, 'West Virginia', 8, 2),
 (453, 'West Virginia', 7, 3),
 (669, 'Wisconsin', 8, 1),
 (116, 'Wisconsin', 7, 2),
 (457, 'Wisconsin', 7, 3),
 (60, 'Wyoming', 16, 1),
 (466, 'Wyoming', 9, 2),
 (510, 'Wyoming', 7, 3)]